html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
button,
textarea {
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
  text-transform: none;
  padding: 5px;
}
textarea {
  overflow: auto;
}
html {
  font: 112.5%/1.45em georgia, serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  color: hsla(0, 0%, 0%, 0.8);
  font-family: georgia, serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  font-feature-settings: "kern", "liga", "clig", "calt";
}
h1 {
  margin: 1rem 0;
  padding: 0;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  font-size: 2rem;
  line-height: 1.25;
}
h2 {
  margin: 1rem 0;
  padding: 0;
  line-height: 1.25;
  font-size: 1.6rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 100;
  text-rendering: optimizeLegibility;
}
p {
  margin: 0;
  padding: 0;
}
pre {
  margin: 0;
  font-size: 0.85rem;
  line-height: 1.42;
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  overflow: auto;
  word-wrap: normal;
  padding: 1.45rem;
}
code {
  font-family: monospace, monospace;
  font-size: 1em;
  font-size: 0.85rem;
  line-height: 1.45rem;
}
pre code {
  background: none;
  line-height: 1.42;
}
code:before,
code:after {
  letter-spacing: -0.2em;
  content: " ";
}
pre code:before,
pre code:after {
  content: "";
}
@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
